.list {
    list-style-type: none;
}

.list__item {
    background-color: rgb(255, 105, 130);
    width: fit-content;
    border-radius: 5px;
}

.label-container {
    display: flex;
    margin: 5px;
}

input {
    display: block;
    margin: 2rem;
    font-size: 1.2rem;
    padding: 5px;
}

.task-list__button { 
    max-height: 50px;
    align-self: center;
    margin-left: 15px;
    margin-right: 15px;
}

.task-list__text {
    align-self: center;
}

.section {
    min-height: 500px;
    align-self: center;
}

.use-memo__text {
    background-color: #333;
    color: white;
    padding: 20px;
    margin: 32px;
}

.add-todo-container {
    display: flex;
    margin: 5;
    align-items: center;
    margin-left: 10px;
}